In [1]:
#pip install plotly

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import pymongo

# Import API key
#from api_keys import g_key
#from api_keys import aqi_key

In [3]:
YR2015 = pd.read_csv('2015.csv')
YR2016 = pd.read_csv('2016.csv')
YR2017 = pd.read_csv('2017.csv')
YR2018 = pd.read_csv('2018.csv')
YR2019 = pd.read_csv('2019.csv')

In [4]:
YR2015.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [5]:
YR2015.drop(['Region', 'Standard Error', 'Dystopia Residual'], axis=1, inplace=True)
YR2015

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681

In [6]:
YR2016.head(2)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463

In [7]:
YR2016.drop(['Region', 'Lower Confidence Interval','Upper Confidence Interval', 'Dystopia Residual'], axis=1, inplace=True)
YR2016

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290

In [8]:
YR2017.head(2)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707

In [9]:
YR2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1, inplace=True)
YR2017

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565

In [10]:
YR2018.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340

In [11]:
YR2019.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410

In [12]:
YR2015.rename(columns = {'Happiness Rank':'Happiness_Rank_2015'}, inplace = True)
YR2015.rename(columns = {'Happiness Score':'Happiness_Score_2015'}, inplace = True)
YR2015.rename(columns = {'Economy (GDP per Capita)':'GDP_2015'}, inplace = True)
YR2015.rename(columns = {'Family':'Social_Support_2015'}, inplace = True)
YR2015.rename(columns = {'Health (Life Expectancy)':'Life_Expectancy_2015'}, inplace = True)
YR2015.rename(columns = {'Freedom':'Freedom_2015'}, inplace = True)
YR2015.rename(columns = {'Trust (Government Corruption)':'Government_Corruption_2015'}, inplace = True)
YR2015.rename(columns = {'Generosity':'Generosity_2015'}, inplace = True)
YR2015['Happiness Bar_2015'] = ' '
YR2015

,Country,Happiness_Rank_2015,Happiness_Score_2015,GDP_2015,Social_Support_2015,Life_Expectancy_2015,Freedom_2015,Government_Corruption_2015,Generosity_2015,Happiness Bar_2015
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,
...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,

In [40]:
#creating an if statement that values the happiness score as happy, ok, not happy.

conditions = [
    (YR2015['Happiness_Score_2015'] > 6),
    (YR2015['Happiness_Score_2015'] <= 6) & (YR2015['Happiness_Score_2015'] >0),
    (YR2015['Happiness_Score_2015'] < 4)]
choices = ['Happy','OK','Not Happy']
YR2015['Happiness_Bar_2015'] = np.select(conditions, choices, default='null')
YR2015

,Country,Happiness_Rank_2015,Happiness_Score_2015,GDP_2015,Social_Support_2015,Life_Expectancy_2015,Freedom_2015,Government_Corruption_2015,Generosity_2015,Happiness Bar_2015,Happiness_Bar_2015
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,,Happy
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,,Happy
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,,Happy
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,,Happy
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,,Happy
...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,,OK
154,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,,OK
155,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,,OK
156,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,,OK
157,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,,OK

In [41]:
YR2016.rename(columns = {'Happiness Rank':'Happiness_Rank_2016'}, inplace = True)
YR2016.rename(columns = {'Happiness Score':'Happiness_Score_2016'}, inplace = True)
YR2016.rename(columns = {'Economy (GDP per Capita)':'GDP_2016'}, inplace = True)
YR2016.rename(columns = {'Family':'Social_Support_2016'}, inplace = True)
YR2016.rename(columns = {'Health (Life Expectancy)':'Life_Expectancy_2016'}, inplace = True)
YR2016.rename(columns = {'Freedom':'Freedom_2016'}, inplace = True)
YR2016.rename(columns = {'Trust (Government Corruption)':'Government_Corruption_2016'}, inplace = True)
YR2016.rename(columns = {'Generosity':'Generosity_2016'}, inplace = True)
YR2016['Happiness Bar_2016'] = ' ' 
YR2016

,Country,Happiness_Rank_2016,Happiness_Score_2016,GDP_2016,Social_Support_2016,Life_Expectancy_2016,Freedom_2016,Government_Corruption_2016,Generosity_2016,Happiness Bar_2016
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,
...,...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,

In [45]:
conditions = [
    (YR2016['Happiness_Score_2016'] > 6),
    (YR2016['Happiness_Score_2016'] <= 6) & (YR2016['Happiness_Score_2016'] >= 4),
    (YR2016['Happiness_Score_2016'] < 4)]
choices = ['Happy','OK','Not Happy']
YR2016['Happiness_Bar_2016'] = np.select(conditions, choices, default='null')
YR2016

,Country,Happiness_Rank_2016,Happiness_Score_2016,GDP_2016,Social_Support_2016,Life_Expectancy_2016,Freedom_2016,Government_Corruption_2016,Generosity_2016,Happiness Bar_2016,Happiness_Bar_2016
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,,Happy
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,,Happy
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,,Happy
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,,Happy
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,,Happy
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,,Not Happy
153,Afghanistan,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,,Not Happy
154,Togo,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,,Not Happy
155,Syria,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,,Not Happy
156,Burundi,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,,Not Happy

In [14]:
YR2017.rename(columns = {'Happiness.Rank':'Happiness_Rank_2017'}, inplace = True)
YR2017.rename(columns = {'Happiness.Score':'Happiness_Score_2017'}, inplace = True)
YR2017.rename(columns = {'Economy..GDP.per.Capita.':'GDP_2017'}, inplace = True)
YR2017.rename(columns = {'Family':'Social_Support_2017'}, inplace = True)
YR2017.rename(columns = {'Health..Life.Expectancy.':'Life_Expectancy_2017'}, inplace = True)
YR2017.rename(columns = {'Freedom':'Freedom_2017'}, inplace = True)
YR2017.rename(columns = {'Trust..Government.Corruption.':'Government_Corruption_2017'}, inplace = True)
YR2017.rename(columns = {'Generosity':'Generosity_2017'}, inplace = True)
YR2017['Happiness Bar_2017'] = ' '
YR2017

,Country,Happiness_Rank_2017,Happiness_Score_2017,GDP_2017,Social_Support_2017,Life_Expectancy_2017,Freedom_2017,Generosity_2017,Government_Corruption_2017,Happiness Bar_2017
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,
...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,

In [46]:
conditions = [
    (YR2017['Happiness_Score_2017'] > 6),
    (YR2017['Happiness_Score_2017'] <= 6) & (YR2017['Happiness_Score_2017'] >= 4),
    (YR2017['Happiness_Score_2017'] < 4)]
choices = ['Happy','OK','Not Happy']
YR2017['Happiness_Bar_2017'] = np.select(conditions, choices, default='null')
YR2017

,Country,Happiness_Rank_2017,Happiness_Score_2017,GDP_2017,Social_Support_2017,Life_Expectancy_2017,Freedom_2017,Generosity_2017,Government_Corruption_2017,Happiness Bar_2017,Happiness_Bar_2017
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,,Happy
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,,Happy
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,,Happy
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,,Happy
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,,Happy
...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,,Not Happy
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,,Not Happy
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,,Not Happy
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,,Not Happy
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,,Not Happy

In [15]:
YR2018.rename(columns = {'Country or region':'Country'}, inplace = True)
YR2018.rename(columns = {'Overall rank':'Happiness_Rank_2018'}, inplace = True)
YR2018.rename(columns = {'Score':'Happiness_Score_2018'}, inplace = True)
YR2018.rename(columns = {'GDP per capita':'GDP_2018'}, inplace = True)
YR2018.rename(columns = {'Social support':'Social_Support_2018'}, inplace = True)
YR2018.rename(columns = {'Healthy life expectancy':'Life_Expectancy_2018'}, inplace = True)
YR2018.rename(columns = {'Freedom to make life choices':'Freedom_2018'}, inplace = True)
YR2018.rename(columns = {'Perceptions of corruption':'Government_Corruption_2018'}, inplace = True)
YR2018.rename(columns = {'Generosity':'Generosity_2018'}, inplace = True)
YR2018['Happiness Bar_2018'] = ' ' 
YR2018

,Happiness_Rank_2018,Country,Happiness_Score_2018,GDP_2018,Social_Support_2018,Life_Expectancy_2018,Freedom_2018,Generosity_2018,Government_Corruption_2018,Happiness Bar_2018
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,

In [47]:
conditions = [
    (YR2018['Happiness_Score_2018'] > 6),
    (YR2018['Happiness_Score_2018'] <= 6) & (YR2018['Happiness_Score_2018'] >= 4),
    (YR2018['Happiness_Score_2018'] < 4)]
choices = ['Happy','OK','Not Happy']
YR2018['Happiness_Bar_2018'] = np.select(conditions, choices, default='null')
YR2018

,Happiness_Rank_2018,Country,Happiness_Score_2018,GDP_2018,Social_Support_2018,Life_Expectancy_2018,Freedom_2018,Generosity_2018,Government_Corruption_2018,Happiness Bar_2018,Happiness_Bar_2018
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,,Happy
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,,Happy
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,,Happy
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,,Happy
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,,Happy
...,...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,,Not Happy
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,,Not Happy
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,,Not Happy
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,,Not Happy
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,,Not Happy

In [16]:
YR2019.rename(columns = {'Country or region':'Country'}, inplace = True)
YR2019.rename(columns = {'Overall rank':'Happiness_Rank_2019'}, inplace = True)
YR2019.rename(columns = {'Score':'Happiness_Score_2019'}, inplace = True)
YR2019.rename(columns = {'GDP per capita':'GDP_2019'}, inplace = True)
YR2019.rename(columns = {'Social support':'Social_Support_2019'}, inplace = True)
YR2019.rename(columns = {'Healthy life expectancy':'Life_Expectancy_2019'}, inplace = True)
YR2019.rename(columns = {'Freedom to make life choices':'Freedom_2019'}, inplace = True)
YR2019.rename(columns = {'Perceptions of corruption':'Government_Corruption_2019'}, inplace = True)
YR2019.rename(columns = {'Generosity':'Generosity_2019'}, inplace = True)
YR2019['Happiness Bar_2019'] = ' ' 
YR2019

,Happiness_Rank_2019,Country,Happiness_Score_2019,GDP_2019,Social_Support_2019,Life_Expectancy_2019,Freedom_2019,Generosity_2019,Government_Corruption_2019,Happiness Bar_2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,

In [48]:
conditions = [
    (YR2019['Happiness_Score_2019'] > 6),
    (YR2019['Happiness_Score_2019'] <= 6) & (YR2019['Happiness_Score_2019'] >= 4),
    (YR2019['Happiness_Score_2019'] < 4)]
choices = ['Happy','OK','Not Happy']
YR2019['Happiness_Bar_2019'] = np.select(conditions, choices, default='null')
YR2019

,Happiness_Rank_2019,Country,Happiness_Score_2019,GDP_2019,Social_Support_2019,Life_Expectancy_2019,Freedom_2019,Generosity_2019,Government_Corruption_2019,Happiness Bar_2019,Happiness_Bar_2019
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,,Happy
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,,Happy
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,,Happy
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,,Happy
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,,Happy
...,...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,,Not Happy
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,,Not Happy
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,,Not Happy
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,,Not Happy
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,,Not Happy

In [17]:
#add a 10th column for the year, and then merge data

In [36]:
#frames=[YR2015, YR2016, YR2017, YR2018, YR2019]
# YR2015_2019 = pd.concat(frames, sort=True)
# YR2015_2019.replace(np.nan, 0, inplace=True)
# YR2015_2019



YR2015_2016 = pd.merge(YR2015,YR2016, on='Country')
YR2015_2017 = pd.merge(YR2015_2016, YR2017, on='Country')
YR2015_2018 = pd.merge(YR2015_2017, YR2018, on='Country')
YR2015_2019 = pd.merge(YR2015_2018, YR2019, on='Country')
YR2015_2019

,Country,Happiness_Rank_2015,Happiness_Score_2015,GDP_2015,Social_Support_2015,Life_Expectancy_2015,Freedom_2015,Government_Corruption_2015,Generosity_2015,Happiness Bar_2015,...,Happiness Bar_2018,Happiness_Rank_2019,Happiness_Score_2019,GDP_2019,Social_Support_2019,Life_Expectancy_2019,Freedom_2019,Generosity_2019,Government_Corruption_2019,Happiness Bar_2019
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,,...,,6,7.480,1.452,1.526,1.052,0.572,0.263,0.343,
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,,...,,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118,
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,,...,,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410,
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,,...,,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341,
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,,...,,9,7.278,1.365,1.505,1.039,0.584,0.285,0.308,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Rwanda,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,,...,,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411,
137,Benin,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,,...,,102,4.883,0.393,0.437,0.397,0.349,0.175,0.082,
138,Syria,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,,...,,149,3.462,0.619,0.378,0.440,0.013,0.331,0.141,
139,Burundi,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,,...,,145,3.775,0.046,0.447,0.380,0.220,0.176,0.180,
140,Togo,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,,...,,139,4.085,0.275,0.572,0.410,0.293,0.177,0.085,

In [19]:
Groupby_ = YR2015_2019.groupby('Country').agg({'GDP': ['mean'],'Freedom': ['mean'], 'Generosity': ['mean'], 'Government_Corruption': ['mean'],
                                              'Happiness_Score': ['mean'], 'Life_Expectancy': ['mean'], 'Social_Support': ['mean']})
Groupby_ = Groupby_.reset_index()
Groupby_.columns= Groupby_.columns.droplevel(1)
Groupby_

# Groupby_ = YR2015_2019.groupby('Country').mean({'GDP','Freedom', 'Generosity', 'Government_Corruption',
#                                               'Happiness_Score', 'Life_Expectancy', 'Social_Support'})
# Groupby_ = Groupby_.reset_index()
# Groupby_

KeyError: "Column 'GDP' does not exist!"

In [ ]:
#YR2015_2016 = pd.merge(YR2015, YR2016, on="Country", how="outer")
#YR2015_2016
No_country = Groupby_.drop('Country', axis=1)
print(No_country.columns)

In [ ]:
from sklearn.linear_model import LinearRegression
X2 = No_country.drop('Happiness_Score',axis=1)
lm2 = LinearRegression()
lm2.fit(X2, No_country.Happiness_Score)

In [ ]:
coef2 = zip(X2.columns, lm2.coef_)
coef_df2 = pd.DataFrame(list(zip(X2.columns, lm2.coef_)), columns=['Features', 'Coefficents'])
coef_df2

In [ ]:
lm2.predict(X2)[0:155]

In [ ]:
import os
import statsmodels.formula.api as stats
from statsmodels.formula.api import ols
import sklearn
from sklearn import linear_model, datasets
from sklearn.metrics import mean_squared_error
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [ ]:
trace = go.Scatter(
    x= lm2.predict(X2),
    y= No_country.Happiness_Score,
    mode = 'markers'
)

data = [trace]
layout = go.Layout(
title = 'Happiness Stuff',
xaxis=dict(
    title = 'Happiness Score')
    ,
yaxis = dict(
title='Predicted Happiness Score')
    )
fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [ ]:
No_country

In [ ]:
#Mean2_Error = np.mean((Groupby_.Happiness_Score - lm2.predict(X)) ** 2)
#print (Mean2_Error)

In [ ]:
New_df = YR2015_2019.drop(['Country', 'Happiness_Rank', 'Year','Government_Corruption','Social_Support','Generosity'], axis=1)
New_df.head()

In [ ]:
from sklearn.linear_model import LinearRegression
X = New_df.drop('Happiness_Score', axis=1)
lm = LinearRegression()
lm.fit(X, New_df.Happiness_Score)

In [ ]:
coef = zip(X.columns, lm.coef_)
coef_df = pd.DataFrame(list(zip(X.columns, lm.coef_)), columns=['Features', 'Coefficents'])
coef_df

In [ ]:
lm.predict(X)[0:155]

In [ ]:
# import os
# import statsmodels.formula.api as stats
# from statsmodels.formula.api import ols
# import sklearn
# from sklearn import linear_model, datasets
# from sklearn.metrics import mean_squared_error
# import plotly
# import plotly.graph_objs as go
# from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# init_notebook_mode(connected=True)

In [ ]:
trace = go.Scatter(
    x= lm.predict(X),
    y= New_df.Happiness_Score,
    mode = 'markers'
)

data = [trace]
layout = go.Layout(
title = 'Happiness Stuff',
xaxis=dict(
    title = 'Happiness Score')
    ,
yaxis = dict(
title='Predicted Happiness Score')
    )
fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [ ]:
#lm3 = LinearRegression()
#lm3.fit(X[['Family']], New_df.Happiness_Score)

In [ ]:
msehappy = np.mean((New_df.Happiness_Score - lm.predict(X)) **2)
print(msehappy)

In [ ]:
YR2015_2019.describe()

In [ ]:
YR2015_2019.to_csv("YR2015_2019Final.csv", encoding='utf-8', index=False)

In [ ]:
import os
import statsmodels.formula.api as stats
from statsmodels.formula.api import ols
import sklearn
from sklearn import linear_model, datasets
from sklearn.metrics import mean_squared_error

In [ ]:
X = YR2015_2019["Generosity"].values.reshape(-1, 1)
y = YR2015_2019.Happiness_Rank.values.reshape(-1, 1)

In [ ]:
plt.scatter(X, y)

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.GDP.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["GDP"].values.reshape(-1, 1)
y = YR2015_2019.Happiness_Rank.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Government_Corruption"].values.reshape(-1, 1)
y = YR2015_2019.Happiness_Rank.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Government_Corruption"].values.reshape(-1, 1)
y = YR2015_2019.Happiness_Rank.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)

In [ ]:
print('Generosity: ', modelLR.coef_)
print('y-axis intercept: ', modelLR.intercept_)

In [ ]:
# Note: we have to transform our min and max values 
# so they are in the format: array([[ 1.17]])
# This is the required format for `model.predict()`

x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])
print(f"Min X Value: {x_min}")
print(f"Max X Value: {x_max}")

In [ ]:
# Calculate the y_min and y_max using model.predict and x_min and x_max

### BEGIN SOLUTION
y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

In [ ]:
#What is this?!?!?!
plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
#10 data viz Vs Happiness_Rank

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.Freedom.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.GDP.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.Generosity.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.Government_Corruption.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.Happiness_Score.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.Life_Expectancy.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
X = YR2015_2019["Happiness_Rank"].values.reshape(-1, 1)
y = YR2015_2019.Social_Support.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
modelLR = LinearRegression()
modelLR.fit(X, y)
x_min = np.array([[X.min()]])
x_max = np.array([[X.max()]])

y_min = modelLR.predict(x_min)
y_max = modelLR.predict(x_max)

plt.scatter(X, y, c='blue')
plt.plot([x_min[0], x_max[0]], [y_min[0], y_max[0]], c='red')

In [ ]:
drop_rank = YR2015_2019.drop(["Happiness_Rank", "Year"], axis = 1)

In [ ]:
corr_matrix_happy = drop_rank.corr()
trace_corr_happy = go.Heatmap(z=np.array(corr_matrix_happy), x=corr_matrix_happy.columns, y=corr_matrix_happy.columns)
data_happy=[trace_corr_happy]
iplot(data_happy)

In [ ]:
coef2 = zip(X2.columns, lm2.coef_)
coef_df2 = pd.DataFrame(list(zip(X2.columns, lm2.coef_)), columns=['Features', 'Coefficents'])
coef_df2

In [ ]:
# Assign X (data) and y (target)
X = Groupby_.drop("Happiness_Score", axis=1)
y = Groupby_["Happiness_Score"]
print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split
#What in the world is the #1 for in random_state???
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
classifier = LinearRegression()
classifier

In [ ]:
classifier.fit(X_train, y_train)